.topbarContainer {
    width: 100%;
    border: 1px solid rgba(195, 212, 233, 0.40);
    background: #FFF;
    padding: 40px 60px;
}

.topbarCenter {
    flex: 3;
}

.topbarLeft {
    flex: 2;
}

.searchBarInput {
    gap: 20px;
    width: 90%;
}

.searchBarInput input {
    color: #596780;
    text-align: justify;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.28px;
    width: 100%;
    outline: none;
    border: none;
}

.cursor-pointer {
    cursor: pointer;
    color: #596780;
}

.topbarRight {
    flex: 3;

}

.topbarCenter .searchbar {
    border-radius: 70px;
    border: 1px solid rgba(195, 212, 233, 0.40);
    background: var(--primary-0, #FFF);
    padding: 10px 20px;
}


.d-flex {
    display: flex;
    align-items: center;
}

.justfiy-space-between {
    justify-content: space-between;
}

.justfiy-end {
    justify-content: end;
}

.gap-20 {
    gap: 20px;
}

.topbarIconItem {
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    color: #596780;
    border-radius: 90px;
    border: 1px solid rgba(195, 212, 233, 0.40);
    opacity: 0.8;
    padding: 10px;
    transition: all 0.3s linear;
}
.topbarIconItem:hover{
    color: #fff;
    background-color: rgb(64, 64, 246);
}
.red-notification{
    position: relative;
}
.topbarIconItem img{
    position: absolute;
    top: 0;
    left: 29px;
}